@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 100%;
    margin-bottom: 0;
    gap: 30px;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 20%), 
      rgba(0, 0, 0, 20%)
    ),
    url('https://cdn.valorao.cloud/images%2FEP8_Act_2_Article_1920x1080_Clove.jpg') no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.agent-image {
  width: 60px;
  height: auto;
}

.wrapper {
  max-width: 500px;
  min-width: 380px;
  width: 100%;
  height: 100%;
  background: #171A26;
  border: 2px solid rgba(255, 255, 255, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  @media screen and (max-width: 768px){
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
  };
}

.match-history {
  justify-content: center;
  gap: 10px;
  max-width: 500px;
  min-width: 380px;
  width: 100%;
  height: 100%;
  background: #171A26;
  border: 2px solid rgba(255, 255, 255, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  @media screen and (max-width: 768px){
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
  };
}

.map-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

#loginBtn {
  justify-content: center;
  align-items: center;
  background-color: #D63021;
  margin-right: auto;
}

#loginBtn img {
  height: 20px;
  vertical-align: middle;
  margin-left: 10px;
}

#loginBtn:hover {
  background-color: #971b10;
}

#player-id-rank {
  background-color: #292b36;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 20px;
  min-width: fit-content;
  padding: 10px;
  display: flex;
  width: 100%;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin-bottom: 20px;
  margin-top: 20px;
  @media screen and (max-width: 768px){
    gap: 10px;
  }
}

#player-banner {
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#player-banner-img {
  max-width: 516px;
  min-width: 100px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 90%;
}

#riot-id {
  display: grid;
  grid-template-areas: "riotid" "tagline", "rank-icon", "rank-name";
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  gap: 0;
  margin-bottom: 0;
}

#player-name {
  font-weight: 600;
  grid-area: riotid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 0;
  @media screen and (max-width: 768px){
    font-size: 20px;
  }
}

#player-tagline {
  color: rgba(246, 246, 246, 0.4);
  margin: 0;
  margin-top: -15px;
  font-size: 15px;
  font-weight: 600;
  grid-area: tagline;
  @media screen and (max-width: 768px){
    margin-top: -10px;
  }
}

#rank {
  gap: 5px;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  grid-template-areas: "rank-icon", "rank-name";
  grid-template-columns: 1fr 1fr;
}

#rank-tier-icon {
  grid-area: rank-icon;
  width: 50px;
  height: 50px;
  gap: 5px;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

#rank-tier-name {
  grid-area: rank-name;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  @media screen and (max-width: 768px){
    font-size: 20px;
    height: 35px;
    gap: 3px;
    margin-top: 0px;
  }
}

#logo {
  background-color: #292b36;
  border-radius: 20px;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 768px){
    margin-top: 0px;
  }
}

#logo > #valorao-logo {
  flex-direction: column;
  justify-content: center;
  @media screen and (max-width: 768px){
  width: 200px;
}
}

#valorao-logo {
  width: 300px;
}

.img-loaded {
  width: 100px;
}

#header-text {
  background: url('valorao.png') no-repeat;
  margin-bottom: 50px;
}

#username-inputbox,
#password-inputbox {
  margin: 10px 0;
}

.wrapper .input-box {
  width: 100%;
  height: 60px;
  margin: 30px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.wrapper .remember-forgot {
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14.5px;
  margin: 15px 10px 15px;
}

.remember-forgot label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.remember-forgot label input {
  align-items: center;
  display: flex;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  accent-color: black;
  margin-right: 6px;
  margin-bottom: auto;
}

.remember-forgot label input:checked {
  background: #D63021;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #0C258F;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
  transition: background 0.15s ease;
}

.wrapper .btn:hover {
  background: #071658;
}

#reauthBtn, #dodgeBtn, #logoutBtn {
  display: none;
}

#dodgeBtn:disabled {
  pointer-events: none;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

