@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  min-height: 100vh;
  background: url('https://cdn.valorao.cloud/images%2FEP8_Act_2_Article_1920x1080_Clove.jpg') no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  @media screen and (max-width: 768px){
    width: 100%;
  }
}

#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo > #valorao-logo {
  display: block;
  flex-direction: column;
  justify-content: center;
}

#valorao-logo {
  width: 300px;
  @media screen and (max-width: 768px) {
    width: 200px;
  }
}

.img-loaded {
  width: 100px;
}

.wrapper {
    width: 600px;
    height: auto;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    @media screen and (max-width: 768px){
      width: auto;
      margin: 20px;
    };
}

#header-text {
  background: url('valorao.png') no-repeat;
  margin-bottom: 50px;
}

#username-inputbox,
#password-inputbox {
  margin: 10px 0;
}

.wrapper .input-box {
  width: 100%;
  height: 60px;
  margin: 30px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: 15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-bottom: 10px;
  transition: background 0.15s ease;
}

.wrapper .btn:hover {
  background: #a5a3a3;
}

#reauthBtn, #dodgeBtn, #logoutBtn {
  display: none;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}